/* normalize starts */

html {
  -webkit-text-size-adjust: 100%;
}

h1 {
  margin: 0.67rem 0;
  font-size: 2rem;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace;
  font-size: 1rem;
}

a {
  background-color: transparent;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace;
  font-size: 1rem;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25rem;
}

sup {
  top: -0.5rem;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35rem 0.75rem 0.625rem;
}

legend {
  box-sizing: border-box;
  display: table;
  max-width: 100%;
  padding: 0;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.visually-hidden:not(focus):not(active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* normalize ends */

:root {
  --transition: 0.4s cubic-bezier(1, -1, 0, 2);
  --mobile-width: 414px;
  --tablet-width: 768px;
  --desktop-width: 1024px;

  box-sizing: border-box;
  font-family: Sentinel SSm A, Sentinel SSm B, system-ui, Ubuntu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 10px;
  line-height: 20px;
  scroll-behavior: smooth;
}

.theme {
  --warning-color: #f3a72f;
  --danger-color: #f44336;

  color: var(--background-color);
  background: var(--info-color);
  background: var(--background-main-gradient);
  border-color: var(--background-color);
}

.theme_light {
  --background-main-gradient: linear-gradient(to right, #dbd5a4 30%, #649173 110%);
  --background-element-gradient: linear-gradient(to right, #1b1035 20%, #76b767 55%, rgba(215, 203, 157, 0.7) 90%);
  --background-color: #1b1035;
  --default-color: #ffffff;
  --primary-color: #d7cb9d;
  --info-color: #689a74;
  --succes-color: #76b767;
}

.theme_dark {
  --background-main-gradient: linear-gradient(to right, #1b1035 30%, #649173 110%);
  --background-element-gradient: linear-gradient(to right, rgba(215, 203, 157, 0.6) 0%, #1b1035 90%);
  --background-color: #d7cb9d;
  --default-color: #ffffff;
  --primary-color: #1b1035;
  --info-color: #689a74;
  --succes-color: #76b767;
}

.page {
  position: relative;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.page::-webkit-scrollbar {
  width: 2rem;
}

.page::-webkit-scrollbar-track {
  background-color: var(--primary-color);
}

.page::-webkit-scrollbar-thumb {
  background-color: var(--warning-color);
  border-radius: 20px;
  outline: 1px solid var(--primary-color);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 70px;
  color: var(--default-color);
  background: var(--background-color);
  background: var(--background-element-gradient);
}

.logo {
  font-size: 4rem;
  color: var(--default-color);
  text-decoration: none;
}

.container {
  max-width: var(--mobile-width);
  margin: 0 auto;
}

.meet {
  padding: 15% 0;
  display: grid;
  align-items: center;
  justify-items: center;
  height: 90vh;
}

.meet__title {
  margin: 0;
  padding: 0 1rem;
  font-size: 3.5rem;
  place-self: end center;
}

.meet__paragraph {
  font-size: 2rem;
  color: var(--danger-color);
  place-self: start center;
}

.avatar__wrapper {
  filter: drop-shadow(0 20px 20px #000000);
}

.avatar__photo {
  width: 300px;
  height: 300px;
  clip-path: circle(50% at 50% 50%);
  place-self: end center;
}
