/* normalize starts */

html {
  -webkit-text-size-adjust: 100%;
}

h1 {
  margin: 0.67rem 0;
  font-size: 2rem;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace;
  font-size: 1rem;
}

a {
  background-color: transparent;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace;
  font-size: 1rem;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25rem;
}

sup {
  top: -0.5rem;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35rem 0.75rem 0.625rem;
}

legend {
  box-sizing: border-box;
  display: table;
  max-width: 100%;
  padding: 0;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.visually-hidden:not(focus):not(active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* normalize ends */

:root {
  --transition-in: all 0.7s ease-out;
  --transition-out: all 0.3s linear;
  --mobile-width: 375px;
  --tablet-width: 768px;
  --desktop-width: 1024px;
  --header-height: 100px;
  --section-margin: 5rem;
  --circle-length: 630px;

  box-sizing: border-box;
  font-family: "Quicksand", system-ui, Ubuntu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, sans-serif;
  font-size: 10px;
  line-height: 20px;
  scroll-behavior: smooth;
}

.theme {
  --warning-color: #f3a72f;
  --danger-color: #f44336;

  color: var(--background-color);
  background: var(--info-color);
  background: var(--background-main-gradient);
  border-color: var(--background-color);
  transition: var(--transition-in);
}

.theme-light {
  --background-main-gradient: linear-gradient(to right, #dbd5a4 30%, #649173 110%);
  --background-element-gradient: linear-gradient(to right, #1b1035 20%, rgba(118, 183, 103, 0.6) 55%, rgba(215, 203, 157, 0.9) 90%);
  --background-color: #1b1035;
  --default-color: #ffffff;
  --primary-color: #e4dbb6;
  --info-color: #689a74;
  --succes-color: #76b767;
}

.theme-dark {
  --background-main-gradient: linear-gradient(to right, #1b1035 30%, #649173 110%);
  --background-element-gradient: linear-gradient(to right, rgba(215, 203, 157, 0.6) 0%, #1b1035 90%);
  --background-color: #e4dbb6;
  --default-color: #ffffff;
  --primary-color: #1b1035;
  --info-color: #689a74;
  --succes-color: #76b767;
}

.page {
  position: relative;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.page::-webkit-scrollbar {
  width: 2rem;
}

.page::-webkit-scrollbar-track {
  background-color: var(--primary-color);
}

.page::-webkit-scrollbar-thumb {
  background-color: var(--warning-color);
  border-radius: 20px;
  outline: 1px solid var(--primary-color);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.header {
  position: sticky;
  top: 0;
  left: calc(50% - 512px);
  z-index: 1;
  display: grid;
  grid-template-columns: 70% 30%;
  width: 1024px;
  min-height: var(--header-height);
  color: var(--default-color);
  background: var(--background-color);
  background: var(--background-element-gradient);
  backdrop-filter: blur(5px) opacity(0.5);
  box-shadow: 0 3px 5px 5px rgba(0, 0, 0, 0.2);
}

.toggler {
  display: grid;
  width: 72px;
  height: 72px;
  margin: 1rem;
  cursor: pointer;
  background-color: var(--background-color);
  background-image: url("/assets/lnr-sun.svg");
  filter: opacity(0.6);
  background-repeat: no-repeat;
  background-position: 18px 18px;
  background-size: contain;
  border: 2px solid var(--default-color);
  border-radius: 50%;
  place-self: center end;
  transition: var(--transition-in);
}

.navigation--item-link:active,
.toggler:active {
  background-color: var(--succes-color);
  border-color: var(--info-color);
}

.toggler-on {
  background-image: url("/assets/lnr-moon.svg");
  transition: var(--transition-in);
}

.navigation {
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.navigation--list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
  margin: 0;
}

.navigation--item {
  list-style: none;
  cursor: pointer;
  transition: var(--transition-in);
}

.navigation--item:hover,
.toggler:hover {
  transition: var(--transition-out);
  transform: scale(1.1, 1.1);
}

.navigation--item-link {
  display: block;
  min-width: 145px;
  padding: 1rem;
  font-size: 2.3rem;
  color: var(--primary-color);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--background-color);
  filter: opacity(0.6);
  border: 2px solid var(--default-color);
  border-radius: 1rem;
  outline: none;
  transition: var(--transition-in);
}

.navigation--item-link:hover,
.navigation--item-link:focus,
.toggler:hover,
.toggler:focus {
  filter: opacity(0.8);
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.7));
  border-color: var(--warning-color);
  transition: var(--transition-in);
}

.logo {
  width: 70%;
  padding: 1rem;
  font-family: "Monoton", cursive;
  font-size: 4rem;
  line-height: 4rem;
  color: var(--default-color);
  text-decoration: none;
  place-self: center start;
}

.navigation {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1024px;
  margin: 0 auto;
}

.meet {
  display: grid;
  grid-template-rows: 400px 100px 40px;
  grid-template-columns: 1fr;
  min-height: 80vh;
  margin-top: 2rem;
}

.meet--title {
  padding: 0 1rem;
  margin: 0;
  font-size: 3.5rem;
  line-height: 6rem;
  text-align: center;
  place-self: center center;
}

.meet--paragraph {
  margin: 0;
  font-size: 2rem;
  line-height: 7rem;
  color: var(--danger-color);
  place-self: start center;
  transition: var(--transition-out);
}

.meet--paragraph:hover {
  font-size: 2.5rem;
  font-weight: bolder;
  text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 15px #000000, 0 0 20px #000000, 0 0 35px #000000, 0 0 40px var(--primary-color), 0 0 50px var(--primary-color), 0 0 75px var(--primary-color);
  letter-spacing: 1px;
  cursor: pointer;
  filter: blur(4px) opacity(0) saturate(0.3);
  transition: var(--transition-in);
}

.avatar--wrapper {
  filter: drop-shadow(10px 10px 25px rgba(0, 0, 0, 0.7));
  place-self: center center;
}

.avatar--photo {
  width: 300px;
  height: 300px;
  clip-path: circle(50% at 50% 50%);
}

.section {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 1024px;

  min-height: 40vh;
  margin: 0 1rem;
  margin-bottom: var(--section-margin);
}

.title {
  padding: 0 1rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  line-height: 5rem;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--warning-color);
}

.subtitle {
  font-size: 2.5rem;
  text-decoration: none;
}

.about {
  flex-direction: column;
}

.about--paragraph {
  padding: 0 0.5rem;
  margin-bottom: 20px;
  font-size: 1.7rem;
  line-height: 2rem;
  text-align: justify;
}

.contacts--paragraph {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.footer {
  position: fixed;
  bottom: 0;

  left: calc(50% - 512px);

  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1024px;
  height: 6.4rem;
  color: var(--default-color);
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(7px) opacity(0.5);
}

.footer--link {
  padding: 0 0 0 8rem;
  color: var(--default-color);
  text-decoration: none;
  cursor: pointer;
}

.contacts--link-twitter::before {
  position: absolute;
  bottom: 1rem;
  left: 6rem;
  display: block;
  width: 4rem;
  height: 4rem;
  content: "";
  background-image: url("/assets/twitter.png");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid var(--default-color);
  border-radius: 50%;
}

.footer--description {
  font-family: "Neucha", cursive;
  font-size: 2.5rem;
}

.soon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70vw;
  height: 70vh;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(7px) opacity(0.5);
}

.soon--text {
  font-size: 3rem;
  color: var(--danger-color);
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress--area {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

.progress--item {
  position: relative;
  list-style: none;
}

.progress--inner {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  z-index: -1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  font-size: 3rem;
}

.progress--circle {
  width: 240px;
  height: 240px;
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.7));
}

.progress {
  cursor: pointer;
  fill: transparent;
  stroke-dasharray: var(--circle-length);
  stroke-linecap: round;
  stroke-width: 20;
  transition: all 5s;
}

.progress--html {
  stroke: var(--succes-color);
  stroke-dashoffset: calc(var(--circle-length) - (var(--circle-length) * 90) / 100);
}

.progress--css {
  stroke: var(--info-color);
  stroke-dashoffset: calc(var(--circle-length) - (var(--circle-length) * 80) / 100);
}

.progress--js {
  stroke: var(--warning-color);
  stroke-dashoffset: calc(var(--circle-length) - (var(--circle-length) * 50) / 100);
}

.progress--svg {
  stroke: var(--danger-color);
  stroke-dashoffset: calc(var(--circle-length) - ((var(--circle-length) * 25) / 100));
}

.progress:hover {
  stroke: var(--danger-color);
  stroke-dasharray: 0;
  transition: all 5s ease-out;
}
